# Ignore build outputs
app/bin/
app/obj/

# User-specific files
app/*.user
app/*.rsuser
app/*.suo
app/*.userosscache
app/*.sln.docstates

# Rider/JetBrains specific files
app/.idea/
app/*.sln.iml

# Visual Studio Code specific files
app/.vscode/

# Backup files
app/*.bak
app/*.swp

# Logs
app/*.log

# NuGet packages
app/*.nupkg
app/*.snupkg
app/.nuget/

# Dotnet Core SDK specific files
app/project.lock.json
app/project.fragment.lock.json
app/artifacts/

# Coverage reports
app/coverage/
app/*.
